
 
# 这会尝试匹配所有文件和目录，但接下来我们会排除带有后缀的文件和目录
*
# 排除所有带有后缀的文件  
!*.*
# 排除所有目录，因为“*”也会匹配目录
!*/

# 忽略任何目录下名为 build 的文件夹
build/
/test/
# 忽略所有的 .a 文件
*.rar
*.zip
*.i
*.s
*.o
*.out
*.exe
# 但跟踪所有的 lib.a，即便你在前面忽略了 .a 文件
#!lib.a

# 导入其他 `.gitignore` 文件的规则
#!include /path/to/other/.gitignore
# 只忽略当前目录下的 TODO 文件，而不忽略 subdir/TODO
#/TODO
# 忽略任何目录下名为 build 的文件夹
#build/
# 忽略 doc/notes.txt，但不忽略 doc/server/arch.txt
#doc/*.txt
# 忽略 doc/ 目录及其所有子目录下的 .pdf 文件
#doc/**/*.pdf
